
.yhea1  { color: #EFEFEF; }
.y1  { color: #006633; }
.yBrig  { color: #FFFFFF; }


#yNavGray { color: gray; }


body.yBodyDark  { background-color:#529c75; color: #B0B0B0; }
.yLFramHead  { border:0px; margin:0px; padding:0px; width:100%; background-color: #62ac85; }
.yLFramHead2 { border:0px; margin:0px; padding:0px; width:100%; background-color: #66B099; }
.yLFramHead3 { border:0px; margin:0px; padding:0px; width:100%; background-color: #A9D3BD; }
.ylfr0		{ color: #C0C0C0; white-space:nowrap; text-decoration:none !important;}
.ylfr1		{ color: #D0D0D0; white-space:nowrap; text-decoration:none !important;}
.ylfr2		{ color: #FFFFFF; white-space:nowrap; text-decoration:none !important;}
.ylfr3		{ background-color:#115533; color: #FFFFFF; white-space:nowrap;}
.yMColor1 {background-color:#A9D3BD;}

.yBodyHead { background-color:#186E43; color: #000000; } 
.yBodyHead a:link    { color:#E0E0E0 }
.yBodyHead a:visited { color:#E0E0E0 }
.yBodyHead a:active  { color:#E0E0E0 }

.yBodyDark2 { background-color:#103020; color: #FFFFFF; } 
.yBodyDark3 a:link    { color:#D0FFD0 }
.yBodyDark3 a:visited { color:#D0FFD0 }
.yBodyDark3 a:active  { color:#D0FFD0 }

.yPlugHead { background-color:#529c75; color: #FFFFFF; } 
.yPlugHead a:link    { color:#FFFFFF }
.yPlugHead a:visited { color:#FFFFFF }
.yPlugHead a:active  { color:#FFFFFF }
	
