
.yhea1  { color: #EFEFEF; }
.y1  { color: #660033; }
.yBrig  { color: #FFFFFF; }
a.yBrig { color: #FFFFFF; text-decoration:underline; }
#yNavGray { color: gray; }


body.yBodyDark  { background-color:#DE5110; color: #B0B0B0; }
.yLFramHead  { border:0px; margin:0px; padding:0px; width:100%; background-color:#CF6060; }
.yLFramHead2 { border:0px; margin:0px; padding:0px; width:100%; background-color:#CF7070; }
.yLFramHead3 { border:0px; margin:0px; padding:0px; width:100%; background-color:#D3BDA9; }

.ylfr0		{ color: #C0C0C0; white-space:nowrap; text-decoration:none !important;}
.ylfr1		{ color: #D0D0D0; white-space:nowrap; text-decoration:none !important;}
.ylfr2		{ color: #FFFFFF; white-space:nowrap; text-decoration:none !important;}
.ylfr3		{ background-color:#993333; color: #FFFFFF; white-space:nowrap;}
.yMColor1 {background-color:#D3BDA9;}

.yBodyHead { background-color:#FC9999; color: #E0E0E0; } 
.yBodyHead a:link    { color:#E0E0E0 }
.yBodyHead a:visited { color:#E0E0E0 }
.yBodyHead a:active  { color:#E0E0E0 }

.yBodyDark2 { background-color:#302010; color: #FFFFFF; } 
.yBodyDark3 a:link    { color:#FF8080 }
.yBodyDark3 a:visited { color:#FF8080 }
.yBodyDark3 a:active  { color:#FF8080 }
	
.yPlugHead { background-color:#DE5110; color: #FFFFFF; } 
.yPlugHead a:link    { color:#FFFFFF }
.yPlugHead a:visited { color:#FFFFFF }
.yPlugHead a:active  { color:#FFFFFF }