/* global CSS */
.yhea1  { color: #EFEFEF; }
.y1  { color: #003366; }
.yBrig  { color: #FFFFFF; }
a.yBrig { color: #FFFFFF; text-decoration:underline; }

#yNavGray { color:gray }


body.yBodyDark  { background-color:#52759c; color: #B0B0B0; white-space:nowrap;}
.yLFramHead  { border:0px; margin:0px; padding:0px; width:100%; background-color:#6285ac; }
.yLFramHead2 { border:0px; margin:0px; padding:0px; width:100%; background-color:#6699DD; }
.yLFramHead3 { border:0px; margin:0px; padding:0px; width:100%; background-color:#A9BDD3; }
.ylfr0		{ color: #C0C0C0; white-space:nowrap; text-decoration:none !important;}
.ylfr1		{ color: #D0D0D0; white-space:nowrap; text-decoration:none !important;}
.ylfr2		{ color: #FFFFFF; white-space:nowrap; text-decoration:none !important;}
.ylfr3		{ background-color:#113355; color:#FFFFFF; white-space:nowrap; text-decoration:none !important;}
.yMColor1 {background-color:#A9BDD3;}

.yBodyHead { background-color:#18436E; color: #E0E0E0; } 
.yBodyHead a:link    { color:#E0E0E0; }
.yBodyHead a:visited { color:#E0E0E0; }
.yBodyHead a:active  { color:#E0E0E0; }

.yBodyDark2 { background-color:#102030; color: #FFFFFF; } 
.yBodyDark3 a:link    { color:#8080FF; }
.yBodyDark3 a:visited { color:#8080FF; }
.yBodyDark3 a:active  { color:#8080FF; }

.yPlugHead { background-color:#52759c; color: #FFFFFF; } 
.yPlugHead a:link    { color:#FFFFFF }
.yPlugHead a:visited { color:#FFFFFF }
.yPlugHead a:active  { color:#FFFFFF }